---
import AxonLogo from '../AxonLogo.astro';
---

<section class="section section--cream about-developer">
  <div class="section-inner" style="text-align: center;">
    <div class="about-developer__logo">
      <AxonLogo width={160} />
    </div>
    <p class="eyebrow reveal">About the Developer</p>
    <p class="section-body reveal reveal-delay-1">
      Axon Developers stands at the absolute cutting edge of global
      experiences. We believe that living spaces are not just defined by the
      structures that make them, but by the people who move into them. In
      keeping with that philosophy, our endeavour is to go beyond aesthetics
      &amp; design and encourage smart decisions.
    </p>
    <p class="section-body reveal reveal-delay-2">
      We are on the verge of creating a new way of life through Integrated
      Tourism Townships in the most thoroughly vetted locations in the
      country.
    </p>
  </div>
</section>

<style>
  .about-developer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
</style>
