<div class="side-tabs">
  <button type="button" data-gate-trigger data-intent="enquiry">Enquire Now</button>
  <button type="button" data-gate-trigger data-intent="siteplan">Site Plan</button>
  <button type="button" data-gate-trigger data-intent="sitevisit">Book Site Visit</button>
  <button type="button" data-gate-trigger data-intent="brochure">Download Brochure</button>
</div>
