<div class="sticky-cta">
  <button type="button" class="sticky-cta__primary" data-gate-trigger data-intent="enquiry">
    Enquire Now
  </button>
  <button type="button" class="sticky-cta__secondary" data-gate-trigger data-intent="siteplan">
    View Site Plan
  </button>
</div>
